In [1]:
import pandas as pd

In [68]:
base = pd.read_csv('census.csv')

In [4]:
base.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
base.shape

(32561, 15)

In [7]:
base['income']

0         <=50K
1         <=50K
2         <=50K
3         <=50K
4         <=50K
          ...
32556     <=50K
32557      >50K
32558     <=50K
32559     <=50K
32560      >50K
Name: income, Length: 32561, dtype: object

In [39]:
x = base.iloc[:, 0:14].values
y = base.iloc[:, 14].values

In [40]:
from sklearn.preprocessing import LabelEncoder

In [41]:
x[0]

array([39, ' State-gov', 77516, ' Bachelors', 13, ' Never-married',
       ' Adm-clerical', ' Not-in-family', ' White', ' Male', 2174, 0, 40,
       ' United-States'], dtype=object)

In [42]:
# codificação de valores que são categóricos para numéricos por coluna

label_encoder = LabelEncoder()
x[:, 1] = label_encoder.fit_transform(x[:, 1])
x[:, 3] = label_encoder.fit_transform(x[:, 3])
x[:, 5] = label_encoder.fit_transform(x[:, 5])
x[:, 6] = label_encoder.fit_transform(x[:, 6])
x[:, 7] = label_encoder.fit_transform(x[:, 7])
x[:, 8] = label_encoder.fit_transform(x[:, 8])
x[:, 9] = label_encoder.fit_transform(x[:, 9])
x[:, 13] = label_encoder.fit_transform(x[:, 13])

In [43]:
x[0]

array([39, 7, 77516, 9, 13, 4, 1, 1, 4, 1, 2174, 0, 40, 39], dtype=object)

In [47]:
from sklearn.preprocessing import StandardScaler

In [48]:
# Normalização de escala dos dados

scaler_x = StandardScaler()
x = scaler_x.fit_transform(x)

In [50]:
x[0]

array([ 0.03067056,  2.15057856, -1.06361075, -0.33543693,  1.13473876,
        0.92163395, -1.3178091 , -0.27780504,  0.39366753,  0.70307135,
        0.1484529 , -0.21665953, -0.03542945,  0.29156857])

In [51]:
from sklearn.model_selection import train_test_split

In [53]:
# separação dos dados entre dados de treinamento e dados de teste

x_treinamento, x_teste, y_treinamento, y_teste = train_test_split(x, y, test_size=0.2)

In [55]:
print(x_treinamento.shape)
print(x_teste.shape)
print(y_treinamento.shape)
print(y_teste.shape)

(26048, 14)
(6513, 14)
(26048,)
(6513,)

In [57]:
from sklearn.linear_model import LogisticRegression

In [58]:
# processo de treinamento do modelo de regressão logística

classificador = LogisticRegression(max_iter=12000)
classificador.fit(x_treinamento, y_treinamento)

LogisticRegression(max_iter=12000)

In [64]:
# previsões dos dados

previsoes = classificador.predict(x_teste)
previsoes

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' >50K'],
      dtype=object)

In [65]:
y_teste

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' >50K'],
      dtype=object)

In [66]:
from sklearn.metrics import accuracy_score

In [69]:
# taxa de acerto das previsões

taxa_acerto = accuracy_score(y_teste, previsoes)
taxa_acerto

0.8214340549669891