## Máquinas de Vetores de Suporte (SVM)

In [3]:
from sklearn.preprocessing import StandardScaler # Normalização de escala dos dados
from sklearn.model_selection import train_test_split # Separação dos dados entre dados de treinamento e dados de teste
from sklearn.metrics import accuracy_score # Taxa de acerto das previsões
from sklearn.svm import SVC # Modelo de Máquinas de Vetores de Suporte
import pandas as pd # Carregamento da base de dados

In [5]:
dataset = pd.read_csv('social_network.csv')
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [7]:
dataset['Purchased'].unique()

array([0, 1])

In [9]:
x = dataset[['Age', 'EstimatedSalary']]
y = dataset['Purchased']

In [10]:
scaler_x = StandardScaler()
x = scaler_x.fit_transform(x)

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [13]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(320, 2)
(80, 2)
(320,)
(80,)

In [14]:
# processo de treinamento do modelo

svm = SVC(kernel="linear", random_state=1, C=1.0)
svm.fit(x_train, y_train)

SVC(kernel='linear', random_state=1)

In [18]:
previsoes = svm.predict(x_test)

previsoes

array([0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0])

In [19]:
y_test

327    0
342    0
289    1
123    0
78     0
      ..
381    1
199    0
39     0
51     0
25     1
Name: Purchased, Length: 80, dtype: int64

In [20]:
accuracy_score(y_test, previsoes)

0.775