In [ ]:
import pandas as pd

df = pd.read_csv('census.csv')
df.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

a) Considere a utilização da importação do módulo StandardScaler, conforme abaixo:

In [ ]:
from sklearn.preprocessing import StandardScaler, LabelEncoder

standard_scaner = StandardScaler()
label_encoder = LabelEncoder()

Para as análises de métricas, utilize o accuracy_score, conforme exemplo:

In [ ]:
from sklearn.metrics import accuracy_score, classification_report

b) Para a base de dados, considere o atributo income como a variável alvo.

In [ ]:
y = df[['income']].values

c) Utilize essa sequência de operações para chegar no resultado final: 
- divida os dados entre entrada e saída, 
- normalize apenas as entradas utilizando o StandardScaler e,
- depois, aplique a divisão entre treinamento e teste com o train_test_split conforme visto em aulas práticas.

In [ ]:
x = df.iloc[:, 0:14].values

In [ ]:
x[:, 1] = label_encoder.fit_transform(x[:, 1])
x[:, 3] = label_encoder.fit_transform(x[:, 3])
x[:, 5] = label_encoder.fit_transform(x[:, 5])
x[:, 6] = label_encoder.fit_transform(x[:, 6])
x[:, 7] = label_encoder.fit_transform(x[:, 7])
x[:, 8] = label_encoder.fit_transform(x[:, 8])
x[:, 9] = label_encoder.fit_transform(x[:, 9])
x[:, 13] = label_encoder.fit_transform(x[:, 13])

In [ ]:
x = standard_scaner.fit_transform(x)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
classificador = LogisticRegression(max_iter=12000)
classificador.fit(x_train, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(max_iter=12000)

In [ ]:
previsoes = classificador.predict(x_test)
previsoes

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' <=50K'],
      dtype=object)

In [ ]:
taxa_acerto = accuracy_score(y_test, previsoes)
taxa_acerto

0.8238906801781053

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
random_forest_census = RandomForestClassifier(n_estimators=100, criterion='entropy', random_state = 0)

In [ ]:
random_forest_census.fit(x_train, y_train)
accuracy_score(y_test, random_forest_census.predict(x_test))

<ipython-input-56-84cc06579630>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  random_forest_census.fit(x_train, y_train)

0.855366190695532