In [1]:
import numpy as np
import pandas as pd

Executar/Completar os trechos de código a seguir para responder às
questões objetivas. Complete-os de forma que o resultado da execução
da função print seja igual ao da imagem correspondente:

In [2]:
# CÖDIGO 1 #
Z = np.zeros((4,))
print('Z:', Z)

Z: [0. 0. 0. 0.]

In [3]:
# CÖDIGO 2 #
Z = np.zeros((4,))
Z[1] = 1.
print('Z:', Z)

Z: [0. 1. 0. 0.]

In [4]:
# CÖDIGO 3 #
Z = np.zeros((4,))
Z[1:] = 1.
print('Z:', Z)

Z: [0. 1. 1. 1.]

In [5]:
# CÖDIGO 4 #
Z = np.zeros((4,))
Z[0:-1] = 1.
print('Z:', Z)

Z: [1. 1. 1. 0.]

In [ ]:
# não resulta no código 4

Z = np.ones((4,)) 
Z[4] = 0.
print('Z:', Z)

In [6]:
# CÖDIGO 5 #
X = 2 * np.ones((2, 2))
print('X:\n', X)

X:
 [[2. 2.]
 [2. 2.]]

In [ ]:
# não resulta no código 4

X = np.twos((2, 2))
print('X:\n', X)

In [25]:
# CÖDIGO 6 #
X = np.array([[1, 2], [3, 4]])
Y = X[0, :]
Y[1] = 10
print("X:\n", X)
print("Y:\n", Y)

X:
 [[ 1 10]
 [ 3  4]]
Y:
 [ 1 10]

In [26]:
# CÖDIGO 7 #
X = np.array([[1, 3], [11, 10]])
print(np.mean(X[X > np.pi]))

10.5

In [10]:
# CÖDIGO 8 #
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog',
                   'cat', 'snake', 'cat', 'dog', 'dog'], 
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 
                     'no', 'no', 'yes', 'no', 'no']}

labels = [ 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [11]:
# CÖDIGO 9 #
df = pd.DataFrame(data=data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [27]:
df.shape

(10, 4)

In [29]:
df['animal'].value_counts()

cat      4
dog      4
snake    2
Name: animal, dtype: int64

In [30]:
df.describe()

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

In [35]:
# df['visits']
# df.iloc[:, -2]
# df.loc[:, 'visits']

# Não retorna a coluna visits
df.iloc[:, 3]

a    yes
b    yes
c     no
d    yes
e     no
f     no
g     no
h    yes
i     no
j     no
Name: priority, dtype: object

In [37]:
df.sort_values(by='visits', ascending=False)

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
a    cat  2.5       1      yes
g  snake  4.5       1       no
h    cat  NaN       1      yes
j    dog  3.0       1       no

In [59]:
# CÖDIGO 10 #

y_true = np.array([1., 2., 1.])
y_pred = np.array([1.1, 1.98, 1.05])

In [67]:
"""
    seja y_true os valores que devem ser previstos a partir de um modelo de aprendizado de máquinas e y_pred os valores que de fato foram previstos por esse modelo. 
    O que o comando np.sqrt(((y_true-y_pred)**2).mean()) irá retornar?
"""

print(np.sqrt(((y_true-y_pred)**2).mean()))


""" 
    erro quadrático = y_true - y_pred²
    np.sqrt(((yt - yp)²).mean())
    (yt - yp)² => (yt - yp) * (yt - yp) => (yt * yt) - (yt * yp) + (yp * yt) + (yp * yp) => [0.01, 0.0004, 0.0025]
"""

erro_quadratico = (y_true * y_true) - (y_true * y_pred) - (y_pred * y_true) + (y_pred * y_pred)

print('erro quadratico:', erro_quadratico)

print('raíz quadrada da média do erro quadratico:', np.sqrt(erro_quadratico.mean()))

# 9. A raiz quadrada do erro quadrático médio do modelo.

0.0
erro quadratico: [0. 0. 0.]
raíz quadrada da média do erro quadratico: 0.0

In [66]:
"""
    qual o valor de y_pred para que o erro quadrático médio de predição seja nulo
"""

y_pred = y_true

erro_quadratico = (y_true * y_true) - (y_true * y_pred) - (y_pred * y_true) + (y_pred * y_pred)

print('erro quadratico:', erro_quadratico)

# 10. y_pred deve ser igual a y_true.

erro quadratico: [0. 0. 0.]