Um modelo de machine learning foi desenvolvido em Python para realizar a
previsão do salário anual de uma pessoa baseado nos anos de experiência que
essa pessoa possui. 

O dataset utilizado para treinamento possui duas variáveis:
 - YearsExperience: variável numérica que representa os anos de
experiência da pessoa;

 - Salary: variável numérica que representa o salário anual da pessoa.

Os alunos deverão desempenhar as seguintes atividades:

1. Baixar e carregar os dados utilizados para treinamento utilizando a
biblioteca Pandas (https://pandas.pydata.org/) para análise exploratória;

2. Replicar o código de requisição para que novas previsões possam ser
realizadas

In [1]:
# Dataset utilizado: https://pycourse.s3.amazonaws.com/Salary.csv
# URL do endpoint: https://as5jmctylk.execute-api.us-east1.amazonaws.com/default/demo_forecast

import pandas as pd
import requests
import json

In [2]:
df = pd.read_csv('https://pycourse.s3.amazonaws.com/Salary.csv')
df.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [5]:
url = 'https://as5jmctylk.execute-api.us-east-1.amazonaws.com/default/demo_forecast'

data = {
    'Jonas': 5,
    'Maria': 2,
    'Miguel': 11.4
}

request = requests.post(url, data=json.dumps(data))

response = request.json()

response

{'Jonas': 72519.23, 'Maria': 46323.41, 'Miguel': 128403.65}

In [11]:
# Qual a dimensão (Número Linhas, Número colunas) do dataset utilizado no treinamento?

df.info() # (35, 3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  35 non-null     float64
 1   Salary           35 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 688.0 bytes

In [12]:
# Considerando o código apresentado na Figura 2, qual o tipo da variável data?

type(data)

dict

In [14]:
# Considerando o código apresentado na Figura 2, qual o tipo da variável response?

type(response)

dict

In [16]:
# Baseado no dataset utilizado para treinamento, qual a média da coluna YearsExperience? Considere 2 casas decimais na sua resposta.

round(df['YearsExperience'].mean(), 2)

6.31

In [17]:
# Baseado no dataset utilizado para treinamento, qual a média da coluna Salary? Considere 2 casas decimais na sua resposta.

round(df['Salary'].mean(), 2)

83945.6

In [21]:
# Baseado no dataset utilizado para treinamento, qual o valor da maior razão Salary/YearsExperience? Considere 2 casas decimais na sua resposta.

cond = round(df['Salary'] / df['YearsExperience'], 2).max()

cond

35766.36

In [22]:
# Baseado no dataset utilizado para treinamento, qual o valor da menor razão Salary/YearsExperience? Considere 2 casas decimais na sua resposta.

cond = round(df['Salary'] / df['YearsExperience'], 2).min()

cond

10330.74

In [25]:
# Baseado no dataset utilizado para treinamento, quantos anos de experiência tem a pessoa com o maior valor de razão Salary/YearsExperience?
razao = df['Salary'] / df['YearsExperience']
cond = razao == razao.max()
df[cond]['YearsExperience']

0    1.1
Name: YearsExperience, dtype: float64

In [26]:
# Baseado no dataset utilizado para treinamento, quantos anos de experiência tem a pessoa com o menor valor de razão Salary/YearsExperience?
razao = df['Salary'] / df['YearsExperience']
cond = razao == razao.min()
df[cond]['YearsExperience']

34    13.5
Name: YearsExperience, dtype: float64

In [28]:
# Qual mensagem será retornada pela API ao se realizar uma requisição contendo: {"Nome": 15}?

requests.post(url, data=json.dumps({"Nome": 15})).json()

{'Nome': 159838.64}

In [29]:
# Qual mensagem será retornada pela API ao se realizar uma requisição contendo: {"Nome": "15"}?

requests.post(url, data=json.dumps({"Nome": "15"})).json()

'Years of experience of user Nome must be a numeric!'

In [30]:
# Qual mensagem será retornada pela API ao se realizar uma requisição contendo: {"Nome": -15}?

requests.post(url, data=json.dumps({"Nome": -15})).json()

'Years of experience of user Nome must be nonnegative!'

In [31]:
# De acordo com o modelo preditivo da API, qual o salário anual inicial para uma pessoa sem experiência profissional?

requests.post(url, data=json.dumps({"pessoa": 0})).json()

{'pessoa': 28859.53}

In [41]:
# Suponha que o modelo de aprendizado de máquinas da API seja linear e possua o seguinte equacionamento: Salary = C_0 + C_1*YearsExperience. 
# Quais os valores dos coeficientes C_0 e C_1?

C_0 = 28859.53
C_1 = 8731.94
yearsExperience = 0
salaryRequested = requests.post(url, data=json.dumps({"salary": yearsExperience})).json()
salary = salaryRequested['salary']

print(C_0 + C_1*yearsExperience == salary)

True